<div class="not-found">
  <h1>
    404 - Page not found
  </h1>
  <h2>
    Sorry, we can't find page that you are looking for :(
  </h2>
  <h3>
    But you always can check out latest comic by pressing the button below
  </h3>
  <a class="nav-link" href="/">
    Latest Comic
  </a>
</div>