body {
  margin: 0;
}

.content-container {
  margin: 0 0 2vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.comic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  font-size: 2.3em;
  font-family: "Staatliches", cursive;
  text-align: center;
}

.comic-navigation {
  padding-top: 5em;
  display: flex;
  align-items: center;
}

.comic-img {
  max-width: 50vw;
}

.views-date {
  font-family: "Staatliches", cursive;
  color: black;
  margin: 3em 0 3em 0;
  padding: 1em 2em 1em 2em;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-image: url("/images/navbarCover.png");
  background-size: 100%;
  border: solid 1px black;
  border-radius: 0.5em;
  font-size: 1.5em;
}

.comic-transcript {
  max-width: 80%;
}

#transcript-show,
#nav-show {
  display: none;
}

#transcript-show {
  padding-top: 2em;
}

#transcript-hide:target,
#nav-hide:target {
  display: none;
}

#transcript-show:target {
  display: block;
}

#nav-show:target {
  display: flex;
}

#transcript-show > .nav-link {
  margin: auto;
}

.nav-content {
  background-image: url("/images/navbarCover.png");
  background-size: 100vw;
  background-color: white;
  width: 100%;
}

.scene-description {
  text-align: center;
  color: gray;
  font-style: italic;
  font-size: 1em;
}

.scene-visual {
  text-align: center;
  color: gray;
  font-size: 1em;
}

.comic-text {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1em;
}

.comic-text > .scene-visual {
  padding: 0 0.3em 0 0.3em;
}

.author-comment-head {
  font-size: 1.3em;
}

.author-comment {
  font-size: 1.4em;
  font-family: "Caveat", cursive;
  padding-bottom: 2em;
}

.comic-transcript > .nav-link:last-child {
  margin-top: 2vw !important;
}

.speaker {
  font-weight: bold;
  padding-right: 0.3em;
}

.comic-navigation:last-child {
  padding-top: 2em;
}

.navigation-icons {
  height: 3em;
  width: 3em;
}

.navbar {
  display: flex;
  background-image: url("/images/navbarCover.png");
  background-size: 100vw;
  font-family: "Staatliches", cursive;
  padding: 0 2vw 0.2em 2vw;
  height: 5em;
  align-items: center;
  justify-content: space-between;
  border-bottom: black 1px solid;
  position: fixed;
  width: 96vw;
  background-color: white;
}

.logo {
  font-size: 3em;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
  color: black;
  text-shadow: 3px 3px rgba(255, 80, 80, 0.699), -1px 0 white, 0 1px white,
    1px 0 white, 0 -1px white;
}

.navbar-icon {
  height: 1em;
  width: 1em;
  padding-left: 0.5em;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 80, 80);
  border: solid 1px black;
  border-radius: 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  width: 7em;
  font-family: "Staatliches", cursive;
}

.nav-link:hover {
  box-shadow: 2px 2px 2px 2px red;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0;
  background-color: rgb(255, 80, 80);
  border: solid 1px black;
  border-radius: 0.5em;
  height: 2.7em;
}

.find-comic {
  color: black;
  display: flex;
  margin-right: 0;
  padding-left: 1em;
  height: 2.7em;
  font-family: "Staatliches", cursive;
  font-size: 16px;
  background-color: rgb(255, 80, 80);
  border: none;
  border-radius: 0.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.find-button {
  display: flex;
  padding: 0.3em;
  margin-left: 0;
  height: 2.7em;
  width: 2.7em;
  font-family: "Staatliches", cursive;
  font-size: 16px;
  background-color: rgb(255, 80, 80);
  border: none;
  border-left: black 1px solid;
  border-radius: 0 0.5em 0.5em 0;
}

.find-button > .navbar-icon {
  padding: 0;
  height: 1.5vw;
  width: 1.5vw;
  margin: auto;
}

.display-md {
  display: none;
}

.not-found {
  padding-top: 10em;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .toggle-button > .nav-link {
    width: fit-content;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }

  .toggle-button > .nav-link > .navbar-icon {
    padding: 0;
  }

  .display-lg {
    display: none;
  }

  .display-md {
    display: block;
  }

  .container {
    width: 90vw;
  }

  .comic-img {
    max-width: 70vw;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: calc(5.2em + 1px);
    border-bottom: solid black 1px;
  }

  .search-form {
    width: 90vw;
    height: 2.7em;
    margin-bottom: 0.5em;
  }

  .find-comic {
    width: 85vw;
    padding-left: 0.2em;
    height: 2.7em;
  }

  #nav-show > .nav-link {
    margin-bottom: 0.5em;
    width: 90vw;
    padding-right: 0;
    padding-left: 0;
  }

  #nav-show > .nav-link:first-child {
    margin-top: 0.5em;
  }

  .navbar-icon {
    height: 1em;
    width: 1em;
  }

  .find-button {
    align-items: center;
    justify-content: center;
    width: 2.7em;
    height: 2.7em;
  }

  ::placeholder {
    font-size: 1.2em;
  }
}

@media (max-width: 425px) {
  .logo {
    font-size: 12vw;
  }
  .card-header {
    font-size: 1.4em;
  }

  .navigation-icons {
    height: 2em;
    width: 2em;
  }

  .views-date {
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
  }

  ::placeholder {
    font-size: 1.2em;
  }
}
